{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="detail">

        <h1>Bonjour {{ etudiant.prenom }}</h1>

        <li>Prénom : {{ etudiant.prenom }}</li>
        <li>Nom : {{ etudiant.nom }}</li>
        <li>Email : {{ etudiant.email }}</li>
        <li>Né(e) le : {{ etudiant.dateNaissance |date('d/m/y') }}</li>
        <li>Age : {{ etudiant.age }}</li>
        <li>Promotion : {{ nomPromotion }} / {{ anneePromotion }}</li>
    </div>

{% endblock %}